#wrapper
  #header
    nav.container
      p.logo
        i.fa-solid.fa-briefcase
        |  TUY&#x1EC2;N D&#x1EE4;NG.
      ul#main-menu
        li
          a(href="/user/dashboard") Trang chủ
        li
          a(href='Profile.html') Hồ sơ cá nhân
        li
          a(
            class="inforUser"
            href=`/${prefixAdmin}/my-account`
          ) #{user.fullName}
          ul.sub-menu
            li
              a(href='/user/logout') Đăng xuất
