#wrapper
  #header
    nav.container
      p.logo
        i.fa-solid.fa-briefcase
        |  TUY&#x1EC2;N D&#x1EE4;NG.
      ul#main-menu
        li
          a(href="/user/dashboard") Trang chủ
        li
          a(href='Profile.html') H&#x1ED3; S&#x1A1; C&aacute; Nh&acirc;n
        li
          a.accout(href='#')
            i.fa-solid.fa-user
          ul.sub-menu
            li
              a(href='') &Dstrok;&abreve;ng xu&#x1EA5;t
