extends ../../layouts/default.pug
block main
  section.jobs-container
    h1.jobs-heading  Latest Jobs
    .box-container
      .box
        .company
          img(src= alt='')
          div
            h3 OPES Company
            span 2 days ago
        p.job-title  DevOps Engineer
        p.location
          i.fa-solid.fa-location-dot
          | T&#x1EA7;ng 6 - T&ograve;a nh&agrave; s&#x1ED1; 5 &Dstrok;i&#x1EC7;n Bi&ecirc;n Ph&#x1EE7;, Ph&#x1B0;&#x1EDD;ng &Dstrok;i&#x1EC7;n Bi&ecirc;n, Qu&#x1EAD;n Ba &Dstrok;&igrave;nh, Th&agrave;nh ph&#x1ED1; H&agrave; N&#x1ED9;i
        .tags
          p
            i.fa-solid.fa-clock
            |  Day Shift
          p
            i.fa-solid.fa-briefcase
            |  Full-time
        .flex-btn
          a.btn(href='')  View details
          button.far.fa-heart(type='submit' name='save')
      .box
        .company
          img(src= alt='')
          div
            h3 DTS Software Viet Nam
            span 5 days ago
        p.job-title Fresher/Junior - Senior C++ Developer
        p.location
          i.fa-solid.fa-location-dot
          |  S&#x1ED1; 266 &Dstrok;&#x1B0;&#x1EDD;ng &Dstrok;&#x1ED9;i C&#x1EA5;n, Ph&#x1B0;&#x1EDD;ng Li&#x1EC5;u Giai, Qu&#x1EAD;n Ba &Dstrok;&igrave;nh, Th&agrave;nh ph&#x1ED1; H&agrave; N&#x1ED9;i
        .tags
          p
            i.fa-solid.fa-clock
            |  Day Shift
          p
            i.fa-solid.fa-briefcase
            |  Full-time
        .flex-btn
          a.btn(href='')  View details
          button.far.fa-heart(type='submit' name='save')
      .box
        .company
          img(src='' alt='')
          div
            h3 C&Ocirc;NG TY C&#x1ED4; PH&#x1EA6;N GI&#x1EA2;I PH&Aacute;P C&Ocirc;NG NGH&#x1EC6; TR&#x1EF0;C TUY&#x1EBE;N GTEL
            span 2 days ago
        p.job-title  C/C++, C# DEVELOPER
        p.location
          i.fa-solid.fa-location-dot
          | 385C Nguy&#x1EC5;n Tr&atilde;i, Ph&#x1B0;&#x1EDD;ng Nguy&#x1EC5;n C&#x1B0; Trinh, Qu&#x1EAD;n 1, Th&agrave;nh ph&#x1ED1; H&#x1ED3; Ch&iacute; Minh
        .tags
          p
            i.fa-solid.fa-clock
            |  Day Shift
          p
            i.fa-solid.fa-briefcase
            |  Full-time
        .flex-btn
          a.btn(href='')  View details
          button.far.fa-heart(type='submit' name='save')
      .box
        .company
          img(src='' alt='')
          div
            h3 Talent Success
            span 2 days ago
        p.job-title  REMOTE | FREELANCE _ 3D SLAM Engineer _ TS030501-SLAM3D
        p.location
          i.fa-solid.fa-location-dot
          | H&#x1ED3; Ch&iacute; Minh, Th&agrave;nh ph&#x1ED1; H&#x1ED3; Ch&iacute; Minh
        .tags
          p
            i.fa-solid.fa-clock
            |  Day Shift
          p
            i.fa-solid.fa-briefcase
            |  Full-time
        .flex-btn
          a.btn(href='')  View details
          button.far.fa-heart(type='submit' name='save')