footer
  section.footer_container
    .row
      #register.col
        p
          | We are committed to providing you with the best possible service. Trust us and choose us!
        .social
          // Liên kết truyền thông
          a(href='https://www.facebook.com/profile.php?id=100044766801358&mibextid=ZbWKwL')
            i.fa-brands.fa-square-facebook
          a(href='https://www.tiktok.com/@mpq.qui.03?_t=8n6buY1cYMC&_r=1')
            i.fa-brands.fa-tiktok
      #recruitment.col
        h3 Tuy&#x1EC3;n D&#x1EE5;ng
        .acceptance
          // -Chấp thuận
          a(href='/blog') Blog
          a(href='/employer/login') Nh&agrave; tuy&#x1EC3;n d&#x1EE5;ng
      #candidate.col
        h3 &#x1EE8;ng Vi&ecirc;n
        .candidate-detail
          // Chi tiết ứng viên
          a(href='/job') T&igrave;m c&ocirc;ng vi&#x1EC7;c
          a(href='/candidate/register') &Dstrok;&abreve;ng k&yacute; t&agrave;i kho&#x1EA3;n
          a(href='/candidate/login') &Dstrok;&abreve;ng nh&#x1EAD;p t&agrave;i kho&#x1EA3;n
      #contact.col 
        h3 Li&ecirc;n H&#x1EC7; V&#x1EDB;i Ch&uacute;ng T&ocirc;i
        .contact-detail
          // Chi tiết liên hệ
          i.fa-solid.fa-location-crosshairs
          p
            | TR&#x1AF;&#x1EDC;NG &Dstrok;&#x1EA0;I H&#x1ECC;C NAM C&#x1EA6;N TH&#x1A0; - 168, Nguy&#x1EC5;n V&abreve;n C&#x1EEB; (n&#x1ED1;i d&agrave;i), P. An B&igrave;nh, Q. Ninh Ki&#x1EC1;u, TP. C&#x1EA7;n Th&#x1A1;
        .contact-detail
          // Chi tiết liên hệ
          i.fa-solid.fa-phone
          p (+84) -907297845 -367068482
