extends ../../layouts/default.pug
block main
    if (dataRole.title)
        h1(class="mb-4") #{dataRole.title}
    if (dataRole.description)
        div(class="mb-4") #{`Mô tả: ${dataRole.description}`}
    
