#wrapper
  #header
    nav.container
      p.logo
        i.fa-solid.fa-briefcase
        |  TUYỂN DỤNG
      ul#main-menu
        li
          a(href='/employer/dashboard') Trang chủ
        li
          a(href='/employer/applicant/create') Đăng tin tuyển dụng
        li
          a.accout(href='#')
            i.fa-solid.fa-user
          ul.sub-menu
            li
              a(href='') Đăng xuất
            li
              a(href='') Quản lí hồ sơ cá nhân
            li
              a(href='/employer/applicant/myApplicant') Bài đăng của tôi
