.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      li
        a(href=`/${prefixAdmin}/jobs`) Công việc
      li
        a(href=`/${prefixAdmin}/jobs-category`) Danh mục công việc
      li
        a(href=`/${prefixAdmin}/blogs`) Blog
      